.collection{
    .right{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    &-img-container{
        width: 20rem;
        height: 20rem;
        border-radius: 2rem;
        margin: 2rem;
    }

    @media screen and (max-width:961px) {
        .right{
            img{
                width: 30%;
            }
        }
        
    }
    @media screen and (max-width:661px) {
        .right{
            img{
                width: 70%;
                height: 70%;
            }
        }
        
    }

}