header{
    background-color: $nav-bar-color;
    width: 100%;
    padding: 0.3rem;
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 1px #ECF0F1;
    .nav-logo{
        color: $nav-bar-font;
        font-size: 3rem;
        padding: 1rem 0;
        cursor:text;
        &:hover{
            color: $nav-bar-font-hover ;
        }
        @media screen and (max-width: 550px) {
            font-size: 2.85rem;
            padding: .85rem 0;
            
        }
        @media screen and (max-width: 320px) {
            font-size: 2.5rem;
            padding: .55rem 0;
        }
    }
    .nav{
        width: 30rem;
        .nav-item-list{
            display: flex;
            list-style: none;
            justify-content: space-evenly;
            align-items: center;
            &-item a{
                text-decoration: none;
                text-transform: uppercase;
                color: $nav-bar-font;
                font-size: 1.6rem;
                padding: 0.5rem;
                border-bottom: 1px solid transparent;
                border-radius: 0.2rem;
                transition: all 100ms;
            }
            & a:hover{
                color:  $nav-bar-font-hover ;
                padding-bottom:1rem ;
                border-bottom: 1px solid  $nav-bar-font-hover;
                transition:all 0.3s 0.25s ;

                }
        }
        @media screen and (max-width: 750px) {
            display: none;
            
        }
    }
    .responsive__nav{
        display: none;
        @media screen and (max-width:750px) {
            display: block;
            top: 50%;
            left: 5%;
            position: absolute;
            transform-origin: top;
            transition: transform 400ms ease-in-out;
            margin-bottom: 2rem;
        .res_navbar{
            
            
            background-color: $res-navbar;
            transform: scale(1,0);

            &-item-list{
                list-style: none;

                &-item{

                    margin: 0 1rem 1rem 2rem;
                    a{
                        color: white;
                        font-size: 2rem;
                        text-align: center;
                        text-decoration: none;
                        text-transform: uppercase;
                        margin: 1rem 2rem 1rem 2rem;
                        opacity: 0;
                    }
                
                }
            }
           
        }
        .nav-toggle:checked ~ nav{
            display: block;
            transform: scale(1,1);

        }
        .nav-toggle-table{
            position: absolute;
            top: 0%;
            left: 0%;
            
        }
        .nav-toggle-table span,
        .nav-toggle-table span::before,
        .nav-toggle-table span::after{
            display: block;
            background-color: #000;
            height: 2px;
            width: 2rem;
            border-radius: 2px;
            position: relative;
        }
        .nav-toggle-table span::before,
        .nav-toggle-table span::after{
            content: "";
            position: absolute;
        }
        .nav-toggle-table span::before{
            bottom: 7px;
        }
        .nav-toggle-table span::after{
            top: 7px;
        }
        .nav-toggle{
            display: none;
        }
        .nav-toggle:checked ~ nav a{
            opacity: 1;
            transition: opacity 250ms ease-in-out 250ms;
        }

        
        .nav-toggle:checked ~ .nav-toggle-table span::after
        {
            transform: rotate(20deg) ;
        }
        .nav-toggle:checked ~ .nav-toggle-table span::before{
            transform: rotate(-20deg);
            
        }    
        }
    }
    @media  screen and (max-width: 750px) {
        //display: inline-block;
        font-size: 8px;
        .empty{
           justify-content: center;
           flex-direction: column;
            
        } 
    }
    
}
