.shop{
    width: 100vw;
    background-color: #FBFCFC;
    .left{
        order: 2;
    }
    .right{
        order: 1;
    }
    &-img-container{
        width: 35rem;
        height: 35rem;
        border-radius: 50%;
    }

    @media screen and (max-width:750px) {
        min-height: 0;
        min-height: 70vh;
        .shop__empty{
            width: 80%;
            word-spacing: 2px;
            align-items: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
        }
        .left{
            flex-direction: column;
            align-items: center;
            text-align: justify;
            .para{
                margin-bottom: 2rem;
            }
           
        }
        .right{
            display: none;
        }
    }
    @media screen and (max-width: 576px) {
        min-height: 0;
        min-height: 75vh;
        
    }
    @media screen and (max-width: 518px) {
        min-height: 0;
        min-height: 75vh;
        
    }
    @media screen and (max-width: 474px) {
        min-height: 0;
        min-height: 90vh;
        
    }
}