.section-main{
    display: flex;
    padding-top: 20vh;
    justify-content: space-between;
    flex-wrap: wrap;
    .img-container{
        width: 35rem;
        border-radius: 3rem;
    }

    @media  screen and (max-width: 750px) {
        flex-direction: column;
        align-items: center;
        padding-top: 5vh;
        min-height: 65vh;
        .left{
            width: 80%;
            word-spacing: 2px;
            align-items: center;
           .para{
               margin-bottom: 2rem;
           }
        }
        .right{
            display: none;
        }
    }

    @media screen and (max-width: 560px) {
        min-height: 0;
        min-height: 70vh;
        
    }
    @media screen and (max-width: 517px) {
        min-height: 0;
        min-height: 75vh;
        
    }
    @media screen and (max-width: 474px) {
        min-height: 0;
        min-height: 85vh;
        
    }
    @media screen and (max-width: 404px) {
        min-height: 0;
        min-height: 87vh;
        .heading-1{
            font-size: 4rem;
            
        }

        
    }
    @media screen and (max-width: 384px) {
        min-height: 0;
        min-height: 100vh;
        .heading-1{
            font-size: 3.5rem;
            
        }
        
    }


    /*
@media  screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        padding-top: 4vh;
        min-height: 70vh;
        .left{
            width: 80%;
            word-spacing: 1px;
            align-items: center;
            .para{
                margin-bottom: 2rem;
                text-align: justify;
            }
            .btn{
                align-self: center;
            }

        }
        .right{
            display: none;
        }
        
    }
    @media  screen and (max-width: 400px) {
        flex-direction: column;
        align-items: center;
        padding-top: 3vh;
        min-height: 80vh;
        
        
        .left{
            width: 80%;
            word-spacing: 2px;
            align-items: center;
            h1{
                font-size: 3.5rem;
                border: 1px solid yellow;
            }
            .para{
                //margin-bottom: 1rem;
                border: 1px solid yellow;

                text-align: justify;
            }
            .btn{
                align-self: center;
                margin-bottom: 1rem;
            }

        }
        .right{
            display: none;
        }
        
    }
    */
}