@import './variables';
@import './navbar';
@import './tea_home';
@import './shop';
@import './collection';
@import './footer';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Lato',  Times, serif;
    color: $global-font-color;
}
.container{
    max-width: 80%;
    max-width: 117rem;
    margin: 0 auto;
}
.heading-1{
    font-size: 5rem;
    margin-bottom: 5vh;
    text-transform: uppercase;
}
.heading-2{
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 4vh ;
    margin-bottom: 7vh;
}
.heading-3{
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 2vh;
}
section{
    min-height: 80vh;
    background-color: #ECF0F1 ;
    overflow: hidden;
    width: 100vw;
    @media screen and (max-width: 750px) {
       min-height: 0;
        
    }
}
.left{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    //border: 1px solid black;

}
.right{
    //border: 1px solid black;
}
.para{
    font-size: 1.7rem;
    text-align: justify;
    word-spacing: 1px;
    
}
.btn{
    text-decoration: none;
    text-transform: capitalize;
    background-color: #3498DB ;
    color: white;
    padding: 1rem 1.5rem;
    font-size: 1.7rem;
    margin-top: 2rem;
    border-radius: 0.4rem;
    transition: all 100ms;
    &:hover{
    background-color: rgba(52, 152, 219,.8) ;
    transition: all 0.3s 0.2s;
    }
}
